@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
  
}

.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

.left-elements{
    width: 25%;
    margin-right: 20px;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(76, 76, 80, 0.5); 
    border-radius: 10px;
    font-family: "Inter";
}

.right-elements{
    width: 65%; /* La largeur totale de la section droite */
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;
    gap: 20px; /* Espace entre les deux composants */
    font-family: "Inter";
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(76, 76, 80, 0.5); 
    border-radius: 10px;
    padding: 20px;
}


.adress, .adress-media {
    padding: 10px;
    margin-bottom: 30px;
}

.social-media{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.map {
    width: 100%;
    height: auto; /* Ajuste la hauteur selon ton besoin */
  }


.leaflet-container {
    width: 100%;
    height: 100%;
  }