@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.story-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
    margin-top: 20px; /* Décalage du conteneur du header */
    height: 62vh; /* Prend toute la hauteur disponible */
}

.story-slider {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Animation fluide */
    flex-grow: 1;
}

.story-plan {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre le contenu horizontalement */
    justify-content: center; /* Centre tout le contenu verticalement */
    padding: 20px;
    position: relative;
    flex-grow: 1;
    font-family: "Inter";
}

.story-plan h1 {
    text-align: center; /* Centre le texte horizontalement */
    margin-top: 40px; /* Ajoute un léger décalage vers le bas */
}

.story-plan p {
    flex-grow: 1; /* Permet au paragraphe de se centrer verticalement */
    display: flex;
    align-items: center;


    
}

.story-navigation {
    display: flex;            /* Utilisation de flexbox pour aligner les boutons */
    justify-content: center;  /* Centre horizontalement les boutons */
    align-items: center;      /* Centre verticalement les boutons (utile si tu as des hauteurs variables) */
    gap: 20px;  
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; /* Espacement entre les boutons */
}

.story-navigation button {
    display: inline;
    font-size: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
}

.story-navigation button:disabled {
    cursor: not-allowed;
}

