@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.curiculum-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

.left-components {
    width: 30%;
    margin-right: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: black;
    font-family: "Inter";
    color: white;
}

.right-components {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Inter";
    color: white;
}

.right-components > div {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: black;
    border-radius: 10px;
    padding: 20px;
}

.right-components .formation {
    flex: 1;
}

/* Styles pour les titres */
h2 {
    font-size: 1rem;
    margin-top: 15px;
    font-family: "Boldonse";
    color: white;
}

h1 {
    font-size: 1.5rem;
    margin-top: 15px;
    font-family: "Boldonse";
    color: white;
}

ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 1rem;
    color: white;
}

li {
    margin: 5px 0;
    font-size: 0.9rem;
    color: white;
}

/* Responsive Design */
@media screen and (max-width: 992px) {
    .curiculum-container {
        flex-direction: column;
        align-items: center;
    }

    .left-components, .right-components {
        width: 90%;
        margin: 10px 0;
    }
}

@media screen and (max-width: 768px) {
    .left-components, .right-components {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .curiculum-container {
        padding: 10px;
    }

    .left-components, .right-components > div {
        padding: 15px;
    }
}
